name: Mirror to Dubai Repo

on:
  push:
    branches: [ main ]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Main Repo
        uses: actions/checkout@v3

      - name: Push to Dubai Repo
        uses: cpina/github-action-push-to-another-repository@main
        env:
          # This connects to the secret in your Main Repo settings
          API_TOKEN_GITHUB: ${{ secrets.MIRROR_TOKEN }}
        with:
          # '.' copies the entire repository (source code, package.json, etc.)
          source-directory: '.'
          
          # UPDATE THESE 3 FIELDS:
          destination-github-username: 'SanyangKitchens'
          destination-repository-name: 'SanyangWebsiteDubai'
          user-email: 'mohdgazyanii235@gmail.com'
          
          # The branch in the Dubai repo to push to
          target-branch: main