name: Sync Repos

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repository
        uses: actions/checkout@v2

      - name: Push to destination repository
        run: |
          git config --global user.email "mohdgazyanii235@gmail.com"
          git config --global user.name "Syncing Bot"
          git clone https://SanyangKitchens:${{ env.GITHUB_TOKEN }}@github.com/SanyangKitchens/SanyangWebsiteDubai.git
          cd SanyangWebsiteDubai
          git remote add ${{ env.ORIGINAL_REPO_NAME }} https://SanyangKitchens:${{ env.GITHUB_TOKEN }}@github.com/SanyangKitchens/SanyangWebsiteDubai.git
          git remote update
          git merge ${{ env.ORIGINAL_REPO_NAME }}/main
          git push origin main
        env:
          GITHUB_TOKEN: ${{ secrets.MIRROR_TOKEN }}