name: Sync Repos

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repository
        uses: actions/checkout@v2

      - name: Push to destination repository
        run: |
          git config --global user.email "mohdgazyanii235@gmail.com"
          git config --global user.name "Syncing Bot"
          git clone https://${{ env.ORG_NAME }}:${{ env.GITHUB_TOKEN }}@github.com/${{ env.ORG_NAME }}/destination-repo.git
          cd destination-repo
          git remote add ${{ env.ORIGINAL_REPO_NAME }} https://${{ env.ORG_NAME }}:${{ env.GITHUB_TOKEN }}@github.com/${{ env.ORG_NAME }}/${{ env.ORIGINAL_REPO_NAME }}.git
          git remote update
          git merge ${{ env.ORIGINAL_REPO_NAME }}/main
          git push origin main
        env:
          GITHUB_TOKEN: ${{ secrets.MIRROR_TOKEN }}
          ORIGINAL_REPO_NAME: ${{ SanyangWebsiteDubai }}
          ORG_NAME: SanyangKitchens