name: Sync Repos

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Push to destination repository
        run: |
          git config --global user.email "mohdgazyanii235@gmail.com"
          git config --global user.name "Syncing Bot"
          git push https://x-access-token:${{ env.GITHUB_TOKEN }}@github.com/SanyangKitchens/SanyangWebsiteDubai.git main --force
        env:
          GITHUB_TOKEN: ${{ secrets.MIRROR_TOKEN }} 